body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #3a3a3a;
    margin:50px 0;
    
    

}
.container{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: maroon
}
 

.head{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 55;
}
p{
    color: brown;
    text-align: center;    
    display: block;
    font-size: 1em;
     
}

 .section{
     line-height: 1.5;
 }


 #scrol{
  width: 70%;
  font-size: 4rem;
  color:#fff;

 }


    
        
    
    .capture{
        text-align: center;
        color: #fff;
        
    }
 #images{
     background-image: url(../my_images/1.jpg);
     background-blend-mode: overlay;
     background-size: cover;
     width: 1100px;
     background-position:70% ;
     padding: 10px;
     background-color: rgb(124, 21, 21);
     margin: 0 auto ;
     

 }
  
 .image-fig{
  width: 850px;
 }
 #life{
     color: #fff;
     text-transform: unset;
 }
 #housing{
    display: block;
    font-size:  20px;
    text-transform: lowercase;
    
 }
#unordered{
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    color:#fff;
}
.paragraph{
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    color:#fff; 
    font-style: italic;
    font-size:  50ft;
    

    }

#page{
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    color: #fff; 
    font-style: italic;
    color: #fff; 
    

    }
    .h3{
        font-size: 17px;
    }


 #mark{
     width: 50%;
     color:#fff;
 }

    



